@use "./_h-fonts" as F;
@use './_h-breakPoints' as BP;
@use 'mixins' as M;
@use '_h-colors' as C;

html {
  font-size: F.$fontSize;
  font-family: F.$fontFamily;
  font-weight: F.$fontWeight400;
  line-height: F.$lineHeight;
  text-align: center;
}

// .Body{
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-template-rows: 500px repeat(1, 1fr) repeat(1, 450px);
//   align-items: center;
// }
.Body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 500px repeat(1, 1fr);
  align-items: center;
}
