@use '_h-colors' as C;

@use 'mixins' as M;
.Header {
    grid-row: 1/2;
    grid-column: 1/13;

    display: flex;
    align-items: center;
    justify-content: center;
    
    & section{
        
        
        & article {

            & aside{    
                margin-bottom: 5rem;

            }
            & div{
                @include M.component;
            }
        }
    }

}