html {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
}

.Body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 500px repeat(1, 1fr) repeat(2, 450px);
  align-items: center;
}

.Header {
  grid-row: 1/2;
  grid-column: 1/13;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header section article aside {
  margin-bottom: 5rem;
}
.Header section article div {
  width: 600px;
}
.Header section article div header h1 h2 {
  font-weight: 600;
}
.Header section article div main p {
  color: hsl(201, 11%, 66%);
}
.Header section article div footer {
  margin-top: 2.5rem;
}
.Header section article div footer button {
  padding: 0.8rem;
  margin-right: 1rem;
  border-radius: 2rem;
  color: #ffffff;
}
.Header section article div footer button:nth-child(1) {
  background-color: hsl(171, 66%, 44%);
}
.Header section article div footer button:nth-child(2) {
  background-color: hsl(233, 100%, 69%);
}

.Main {
  grid-row: 2/3;
  grid-column: 1/13;
}
.Main section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
.Main section article div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Main section article div:nth-child(1) article {
  width: 600px;
}
.Main section article div:nth-child(1) article header h1 h2 h3 {
  font-weight: 600;
}
.Main section article div:nth-child(1) article main p {
  color: hsl(201, 11%, 66%);
}
.Main section article .images {
  scale: 2;
  margin-top: 15rem;
  margin-bottom: 15rem;
}
.Main section article:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/13;
}
.Main section article:nth-child(1) div:nth-child(2) {
  display: flex;
  justify-content: space-around;
}
.Main section article:nth-child(1) div:nth-child(2) main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  text-align: left;
}
.Main section article:nth-child(1) div:nth-child(2) main article {
  width: 400px;
}
.Main section article:nth-child(1) div:nth-child(2) main article header h1 h2 h3 {
  font-weight: 600;
}
.Main section article:nth-child(1) div:nth-child(2) main article main p {
  color: hsl(201, 11%, 66%);
}
.Main section article:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/13;
}
.Main section article:nth-child(3) {
  grid-row: 3/4;
  grid-column: 1/13;
}
.Main section article:nth-child(3) div:nth-child(2) {
  margin-top: 2.5rem;
}
.Main section article:nth-child(3) div:nth-child(2) main section {
  display: flex;
  justify-content: space-evenly;
}
.Main section article:nth-child(3) div:nth-child(2) main section article {
  width: 400px;
  padding: 1rem;
}
.Main section article:nth-child(3) div:nth-child(2) main section article header h1 h2 h3 {
  font-weight: 600;
}
.Main section article:nth-child(3) div:nth-child(2) main section article main p {
  color: hsl(201, 11%, 66%);
}
.Main section article:nth-child(3) div:nth-child(2) main section article aside {
  margin: 2.5rem;
}

.Aside {
  grid-row: 3/4;
  grid-column: 1/13;
}
.Aside section:nth-child(1) {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
}
.Aside section:nth-child(2) article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Aside section:nth-child(2) article div {
  width: 600px;
}
.Aside section:nth-child(2) article div header h1 h2 {
  font-weight: 600;
}
.Aside section:nth-child(2) article div main p {
  color: hsl(201, 11%, 66%);
}
.Aside section:nth-child(2) article div footer {
  margin-top: 2.5rem;
}
.Aside section:nth-child(2) article div footer button {
  padding: 0.8rem;
  margin-right: 1rem;
  border-radius: 2rem;
  color: #ffffff;
}
.Aside section:nth-child(2) article div footer button:nth-child(1) {
  background-color: hsl(171, 66%, 44%);
}
.Aside section:nth-child(2) article div footer button:nth-child(2) {
  background-color: hsl(233, 100%, 69%);
}

.Section {
  padding: 5rem;
}

.Footer {
  grid-row: 4/5;
  grid-column: 1/13;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
